{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <h1>О нас</h1>
    <p>Shop.KG - лучший онлайн магазин в Кыргызстане!</p>
    
    <div class="row mt-4">
        <div class="col-md-4">
            <h3>🏪 Наша миссия</h3>
            <p>Предоставлять качественные продукты по доступным ценам.</p>
        </div>
        <div class="col-md-4">
            <h3>🚚 Доставка</h3>
            <p>Быстрая доставка по всему Бишкеку в течение 24 часов.</p>
        </div>
        <div class="col-md-4">
            <h3>⭐ Качество</h3>
            <p>Все продукты проходят строгий контроль качества.</p>
        </div>
    </div>
</div>
{% endblock %}
